<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/estudiopersonal?autoReconnect=true
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			root
		</property>
		<mapping class="epFontes.Treinamento"/>
		<mapping class="epFontes.TreinamentoC"/>
		<mapping class="epFontes.TreinamentoF"/>
		<mapping class="epFontes.TreinamentoM"/>
		<mapping class="epFontes.ExercicioMusculacao" />
		<mapping class="epFontes.GrupoMuscular" />
		<mapping class="epFontes.TipoMembro" />
		<mapping class="epFontes.ExercicioFlexibilidade" />
		<mapping class="epFontes.Usuario" />
		<mapping class="epFontes.Uf" />
		<mapping class="epFontes.Cidade" />
		<mapping class="epFontes.Aluno" />
		<mapping class="epFontes.Avaliacao" />
		<mapping class="epFontes.Objetivo" />
		<mapping class="epFontes.ExercicioCardiovascular" />
	</session-factory>
</hibernate-configuration>
